name: Terraform + Ansible Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v4

    - name: Terraform Init & Apply
      run: |
        cd terraform
        terraform init
        terraform apply -auto-approve

    - name: Run Ansible Playbook
      run: |
        cd ansible
        ansible-playbook -i inventory.ini playbook.yml
